// Utility Style Sheet.
// Add global classes here, they should be limited.
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,800&display=swap');

* {
  font-family: 'Muli', sans-serif;
}

.page-max-width {
	max-width: $siteMaxWidth;
	min-width: $siteMinWidth;
	margin: 0 auto;
}

.standard-button {
  width: 100%;
  border-radius: $buttonRadius;
  background: $primaryColor;
  padding: 1rem 0;
  color: $white;
  text-align: center;

  &:hover {
    background: $highlightColor;
    cursor: pointer;
  }
}