$primaryColor: #00A9B2;
$secondaryColor: #004347;
$highlightColor: #00D4E0;
$white: #FFFFFF;
$black: #000000;
$gray: #E5E5E5;

$borderSmall: 1px;
$borderMedium: 2px;
$borderLarge: 3px;
$buttonRadius: 6px;

$siteMinWidth: 290px;
$fabletMinWidth: 415px;
$tabletMinWidth: 768px;
$siteMaxWidth: 1280px;

$light: 300;
$normal: 400;
$bold: 700;

$remXL: 2rem;
$remL: 1.5rem;
$remM: 1rem;
$remS: 0.8rem;
$remXS: 0.6rem;