$primaryColor: #FFCE16;
$secondaryColor: #979797;
$white: #FFFFFF;
$black: #000000;
$gray: #E5E5E5;
$red: #f74e50;
$blue: #1E90FF;
$green: #92c43f;

$borderSmall: 1px;
$borderMedium: 2px;
$borderLarge: 3px;

$siteMinWidth: 290px;
$fabletMinWidth: 415px;
$tabletMinWidth: 768px;
$siteMaxWidth: 1280px;

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightBold: 700;