@import '../styles/variables.scss';

:host {
  .page-wrapper {
    max-width: $siteMaxWidth;
    min-width: $siteMinWidth;
    margin: 0 auto;
    min-height: calc(100vh - 10rem);
  }

  // Plus Sized Mobile Devices Media Query
  @media screen and (min-width: $fabletMinWidth) {

  }

  // Tablet > Desktop Media Query
  @media screen and (min-width: $tabletMinWidth) {

  }
}