@import '../styles/variables.scss';

:host {
  .page-wrapper {
    max-width: $siteMaxWidth;
    min-width: $siteMinWidth;
    margin: 0 auto;
    padding: 6rem 1rem 3rem 1rem;
    min-height: calc(100vh - 13rem);
  }
}