@import '../../styles/variables.scss';

:host {
  .site-header {
    width: 100%;
    border-bottom: $borderMedium solid $primaryColor;
    box-shadow: 2px 2px 8px 2px $gray;
    padding: 1rem 0;
    position: fixed;
    background: $white;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .site-title {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        text-decoration: none;
  
        .logo {
          width: 3rem;
          height: 3rem;
        }
    
        .title {
          font-size: $remL;
          color: $primaryColor;
          font-weight: $normal;
          padding-left: 1rem;
        }
      }

      .logout {
        color: $grayDk;
        font-size: $remM;
        cursor: pointer;
        margin-right: 1rem;

        &:hover {
          color: $primaryColor;
        }
      }
    }
  }
}