@import '../../styles/variables.scss';

:host {
  .site-header {
    width: 100%;
    height: 2rem;
    border-bottom: $borderMedium solid $primaryColor;
    box-shadow: 2px 2px 2px $gray;
    padding: 1rem 0;
    position: fixed;
    background: $white;

    .title {
      font-size: $remXL;
      color: $primaryColor;
      font-weight: $normal;
      padding-left: 1rem;
    }
  }
}