@import '../../styles/variables.scss';

:host {
  .site-footer {
    width: 100%;
    padding: 1rem 0;
    background: $secondaryColor;

    .copywrite {
      font-size: $remXS;
      color: $white;
      font-weight: $normal;
      text-align: center;
      margin: 0 auto;
      display: block;
    }
  }

  @media screen and (min-width: $tabletMinWidth) {
    .site-footer {
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
}