<div class="room-card"
  [ngClass]="{'active': getActive(roomData.id)}"
  (click)="setActive(roomData.id)">
  <div class="row">
    <div class="name">{{roomData.name}}</div>
    <div class="capacity">
      <span>{{roomData.capacity}}</span>
      <img src="../../assets/img/people.png" class="icon">
    </div>
  </div>
  <div class="row">
    <div class="status" [ngClass]="{'available': roomData.available}">{{roomData.statusMessage}}</div>
    <div class="location">{{roomData.location}}</div>
  </div>
  <div *ngIf="getActive(roomData.id)">
    <div class="standard-button">Reserve Now</div>
    <div class="book row">
      <!-- Add in logic here to only check in or out if you are the meeting organizer. -->
      <div class="standard-button check-in">Check In</div>
      <div class="standard-button check-out">Check Out</div>
    </div>
  </div>
</div>