@import '../../styles/variables.scss';

:host {
  .room-card {
    background: $white;
    border-bottom: $borderMedium solid $primaryColor;
    padding: 1rem;

    &.active {
      background: $gray;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0;

      .name {
        color: $primaryColor;
        font-size: $remL;
      }

      .capacity {
        color: $primaryColor;
        display: flex;
        align-items: center;

        .icon {
          width: 1.2rem;
          height: 1.2rem;
          margin-left: 0.5rem;
        }
      }

      .status {
        color: $green;
      }

      .location {
        color: $grayDk;
      }
    }
    .standard-button {
      margin-top: 1rem;

      &.check-in {
        background: $green;
        width: 45%;
      }

      &.check-out {
        background: $red;
        width: 45%;
      }
    }
  }
}